@import url("https://fonts.googleapis.com/css2? family= Ubuntu & display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background: linear-gradient(
    135deg,
    hsla(29, 92%, 70%, 1) 0%,
    hsla(0, 87%, 73%, 1) 100%
  ) !important;
  font-family: "Ubuntu", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}
.pulse {
  animation: animate-shake 2s ease-in-out infinite;
}

.button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.button:hover {
  background: white !important;
  color: black !important;
}

@keyframes animate-shake {
  0%,
  10%,
  65%,
  100% {
    transform: rotate(0deg) scale(1);
  }

  30%,
  40% {
    transform: rotate(-1deg) scale(1.05);
  }

  35%,
  45% {
    transform: rotate(1deg) scale(1.05);
  }
}
